
##################################
# System
NET "INIT_CLK_P" LOC = C12 | IOSTANDARD = "LVDS_25";
NET "INIT_CLK_N" LOC = C11 | IOSTANDARD = "LVDS_25";
NET "INIT_CLK_P" TNM_NET = "INIT_CLK";
TIMESPEC TS_INIT_CLK = PERIOD "init_clk" 10 ns HIGH 50 %;

NET "RESET_IN" LOC = C9 | IOSTANDARD = "LVCMOS25";
NET "RESET_IN" PULLDOWN;

NET "SW[0]" LOC =B9   | IOSTANDARD = "LVCMOS25";
NET "SW[1]" LOC =G11  | IOSTANDARD = "LVCMOS25";
NET "SW[2]" LOC =F10  | IOSTANDARD = "LVCMOS25";

##################################
# Debug
NET "LED[0]"    LOC = E13  | IOSTANDARD = "LVCMOS25";
NET "LED[1]"    LOC = E12  | IOSTANDARD = "LVCMOS25";
NET "LED[2]"    LOC = C14  | IOSTANDARD = "LVCMOS25";
NET "LED[3]"    LOC = C13  | IOSTANDARD = "LVCMOS25";
NET "LED[4]"    LOC = B12  | IOSTANDARD = "LVCMOS25";
NET "LED[5]"    LOC = B11  | IOSTANDARD = "LVCMOS25";

NET "TRIG_IN"    LOC = D10  | IOSTANDARD = "LVCMOS25";
NET "TRIG_OUT"    LOC = E10  | IOSTANDARD = "LVCMOS25";

##################################
# SPI
NET "SPI_CLK" 		LOC = AD21 | IOSTANDARD=LVCMOS25;
NET "SPI_EN" 		LOC = AE21 | IOSTANDARD=LVCMOS25;
NET "SPI_MOSI" 	LOC = N19 | IOSTANDARD=LVCMOS25;
##NET "SPI_MISO" 	LOC = Y22 | IOSTANDARD=LVCMOS25;
NET "PLL_LE" 		LOC = L24  | IOSTANDARD=LVCMOS25;
NET "ADCB_SCSB" 	LOC = AA23 | IOSTANDARD=LVCMOS25;
NET "ADCA_SCSB" 	LOC = AB24 | IOSTANDARD=LVCMOS25;
NET "DAC_NSYNC" 	LOC = M24 | IOSTANDARD=LVCMOS25;


##NET "EXT_CLK" LOC = N19 | IOSTANDARD = LVCMOS25;
NET "CAL_CTRL" LOC = M20 | IOSTANDARD = LVCMOS25;

##################################
# ADC

# ADC A Clock Constraint
NET "*adca_clkdiv[0]" TNM_NET = ADC_CLK_DIV_A;
TIMESPEC TS_ADC_CLK_DIV_A_I = PERIOD "ADC_CLK_DIV_A" 125 MHz HIGH 50%;
###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG1" = FROM "CLK200" TO "ADC_CLK_DIV_A" TIG; 

NET "ADCA_DCLKP" 	LOC = Y23  | IOSTANDARD=LVDS_25;
NET "ADCA_DP[0]" 	LOC = W23  | IOSTANDARD=LVDS_25;
NET "ADCA_DP[1]" 	LOC = AB26 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[2]" 	LOC = Y25  | IOSTANDARD=LVDS_25;
NET "ADCA_DP[3]" 	LOC = AA25 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[4]" 	LOC = V21  | IOSTANDARD=LVDS_25;
NET "ADCA_DP[5]"	LOC = AD23 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[6]" 	LOC = W20  | IOSTANDARD=LVDS_25;
NET "ADCA_DP[7]" 	LOC = AB22 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[8]" 	LOC = AD26 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[9]" 	LOC = AB21 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[10]" LOC = AE22 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[11]" LOC = AF24 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[12]" LOC = AD25 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[13]" LOC = AE23 | IOSTANDARD=LVDS_25;
NET "ADCA_ORP" 		LOC = R21 | IOSTANDARD=LVDS_25;

# ADC B Clock Constraint
NET "*adcb_clkdiv[0]" TNM_NET = ADC_CLK_DIV_B;
TIMESPEC TS_ADC_CLK_DIV_B_I = PERIOD "ADC_CLK_DIV_B" 125 MHz HIGH 50%;
###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG2" = FROM "CLK200" TO "ADC_CLK_DIV_B" TIG; 
NET "ADCB_DCLKP" 	LOC = N21  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[0]" 	LOC = P19  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[1]" 	LOC = M21  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[2]" 	LOC = R22  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[3]" 	LOC = T20  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[4]" 	LOC = T22  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[5]"	LOC = T24  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[6]" 	LOC = T18  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[7]" 	LOC = U19  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[8]" 	LOC = N18  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[9]" 	LOC = P16  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[10]" LOC = R16  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[11]" LOC = U17  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[12]" LOC = R18  | IOSTANDARD=LVDS_25;
NET "ADCB_DP[13]" LOC = P23  | IOSTANDARD=LVDS_25;
NET "ADCB_ORP" 		LOC = Y22 | IOSTANDARD=LVDS_25;

##################################
# SFP
NET "SFP_TXP" LOC = P2; 
NET "SFP_TXN" LOC = P1; 
NET "SFP_RXP" LOC = R4; 
NET "SFP_RXN" LOC = R3; 

