
##################################
# System
NET "INIT_CLK_IN" LOC = AD23 | IOSTANDARD = "LVCMOS25";

NET "INIT_CLK_IN" TNM_NET = "INIT_CLK";
TIMESPEC TS_INIT_CLK = PERIOD "init_clk" 8 ns HIGH 50 %;

NET "RESET_IN" LOC = AH15 | IOSTANDARD = "LVCMOS18"; //SW0
NET "RESET_IN" PULLDOWN;

NET "SW[0]" LOC =AG14   | IOSTANDARD = "LVCMOS18";
NET "SW[1]" LOC =AE16  | IOSTANDARD = "LVCMOS18";
NET "SW[2]" LOC =AG15  | IOSTANDARD = "LVCMOS18";

##################################
# Debug
NET "LED[0]"    LOC = Y18  | IOSTANDARD = "LVCMOS18";
NET "LED[1]"    LOC = AB17  | IOSTANDARD = "LVCMOS18";

#NET "TRIG_IN"    LOC = AD17  | IOSTANDARD = "LVCMOS18;
#NET "TRIG_OUT"    LOC = AD16  | IOSTANDARD = "LVCMOS18";

##################################
# SPI
NET "SPI_CLK[0]" 		LOC = B19 | IOSTANDARD=LVCMOS25;
NET "SPI_EN[0]" 		LOC = A20 | IOSTANDARD=LVCMOS25;
NET "SPI_MOSI[0]" 	LOC = B18 | IOSTANDARD=LVCMOS25;
##NET "SPI_MISO[0]" 	LOC = A18 | IOSTANDARD=LVCMOS25;
NET "PLL_LE[0]" 		LOC = D23  | IOSTANDARD=LVCMOS25;
NET "ADCB_SCSB[0]" 	LOC = C19 | IOSTANDARD=LVCMOS25;
NET "ADCA_SCSB[0]" 	LOC = A21 | IOSTANDARD=LVCMOS25;

NET "SPI_CLK[1]" 		LOC = E21 | IOSTANDARD=LVCMOS25;
NET "SPI_EN[1]" 		LOC = U23 | IOSTANDARD=LVCMOS25;
NET "SPI_MOSI[1]" 	LOC = E23 | IOSTANDARD=LVCMOS25;
##NET "SPI_MISO[1]" 	LOC = B23 | IOSTANDARD=LVCMOS25;
NET "PLL_LE[1]" 		LOC = F23  | IOSTANDARD=LVCMOS25;
NET "ADCB_SCSB[1]" 	LOC = W21 | IOSTANDARD=LVCMOS25;
NET "ADCA_SCSB[1]" 	LOC = V21 | IOSTANDARD=LVCMOS25;

NET "SPI_CLK[2]" 		LOC = V22 | IOSTANDARD=LVCMOS25;
NET "SPI_EN[2]" 		LOC = E25 | IOSTANDARD=LVCMOS25;
NET "SPI_MOSI[2]" 	LOC = V24 | IOSTANDARD=LVCMOS25;
##NET "SPI_MISO[2]" 	LOC = U24 | IOSTANDARD=LVCMOS25;
NET "PLL_LE[2]" 		LOC = F25  | IOSTANDARD=LVCMOS25;
NET "ADCB_SCSB[2]" 	LOC = W19 | IOSTANDARD=LVCMOS25;
NET "ADCA_SCSB[2]" 	LOC = E24 | IOSTANDARD=LVCMOS25;

NET "DAC_SCLK" 	LOC = A26 | IOSTANDARD=LVCMOS25;
NET "DAC_NSYNC" 	LOC = B22 | IOSTANDARD=LVCMOS25;
NET "DAC_DIN" 	LOC = A22 | IOSTANDARD=LVCMOS25;
NET "DAC_LDAC" 	LOC = A25 | IOSTANDARD=LVCMOS25;
NET "DAC_CLR" 	LOC = C22 | IOSTANDARD=LVCMOS25;
NET "DAC_POR" 	LOC = D22 | IOSTANDARD=LVCMOS25;

NET "EXT_CLK[0]" LOC = G19 | IOSTANDARD = LVCMOS25;    #125M
NET "CAL_CTRL[0]" LOC = A23 | IOSTANDARD = LVCMOS25;
NET "EXT_CLK[1]" LOC = M19 | IOSTANDARD = LVCMOS25;    #125M
NET "CAL_CTRL[1]" LOC = W22 | IOSTANDARD = LVCMOS25;
NET "EXT_CLK[2]" LOC = R24 | IOSTANDARD = LVCMOS25;    #125M
NET "CAL_CTRL[2]" LOC = W23 | IOSTANDARD = LVCMOS25;

##################################
# FEC
NET "ADC_GCL" 	LOC = AE26 | IOSTANDARD=LVCMOS25;
NET "ADC_GCM" 	LOC = AE28 | IOSTANDARD=LVCMOS25;
NET "ADC_GCH" 	LOC = Y26 | IOSTANDARD=LVCMOS25;

##################################
# ADC

# ADC 0A Clock Constraint
NET "ADU_chi[0].adca_user_clk" TNM_NET = ADC_CLK_DIV_0A;
TIMESPEC TS_ADC_CLK_DIV_0A_I = PERIOD "ADC_CLK_DIV_0A" 125 MHz HIGH 50%;
###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG0A" = FROM "clk200" TO "ADC_CLK_DIV_0A" TIG; 
NET "ADCA_DCLKP[0]" 	LOC = D17 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[0]" 	LOC = F15 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[1]" 	LOC = H15	| IOSTANDARD=LVDS_25;
NET "ADCA_DP[2]" 	LOC = J17 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[3]" 	LOC = L17 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[4]" 	LOC = L16 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[5]"	LOC = D26 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[6]" 	LOC = H11 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[7]" 	LOC = L15 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[8]" 	LOC = F11 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[9]" 	LOC = K13 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[10]" LOC = C17 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[11]" LOC = A16 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[12]" LOC = C15 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[13]" LOC = B13 | IOSTANDARD=LVDS_25;
NET "ADCA_ORP[0]" 		LOC = C25 | IOSTANDARD=LVDS_25;

# ADC 0B Clock Constraint
NET "ADU_chi[0].adcb_user_clk" TNM_NET = ADC_CLK_DIV_0B;
TIMESPEC TS_ADC_CLK_DIV_0B_I = PERIOD "ADC_CLK_DIV_0B" 125 MHz HIGH 50%;
###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG0B" = FROM "clk200" TO "ADC_CLK_DIV_0B" TIG; 
NET "ADCB_DCLKP[0]" 	LOC = D12 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[0]" 	LOC = F12 | IOSTANDARD=LVDS_25;   #*
NET "ADCB_DP[1]" 	LOC = J11 | IOSTANDARD=LVDS_25;		#*
NET "ADCB_DP[2]" 	LOC = K14 | IOSTANDARD=LVDS_25;		#*
NET "ADCB_DP[3]" 	LOC = L11 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[4]" 	LOC = C12 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[5]"	LOC = A11 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[6]" 	LOC = H21 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[7]" 	LOC = D21 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[8]" 	LOC = C20 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[9]" 	LOC = G17 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[10]" LOC = B14 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[11]" LOC = E14 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[12]" LOC = D14 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[13]" LOC = D11 | IOSTANDARD=LVDS_25;
NET "ADCB_ORP[0]" 		LOC = G13 | IOSTANDARD=LVDS_25;

# ADC 1A Clock Constraint
NET "ADU_chi[1].adca_user_clk" TNM_NET = ADC_CLK_DIV_1A;
TIMESPEC TS_ADC_CLK_DIV_1A_I = PERIOD "ADC_CLK_DIV_1A" 125 MHz HIGH 50%;
###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG1A" = FROM "clk200" TO "ADC_CLK_DIV_1A" TIG; 
NET "ADCA_DCLKP[1]" 	LOC = L25 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[14]" 	LOC = J27 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[15]" 	LOC = G27	| IOSTANDARD=LVDS_25;
NET "ADCA_DP[16]" 	LOC = G28 | IOSTANDARD=LVDS_25;	 #*
NET "ADCA_DP[17]" 	LOC = K23 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[18]" 	LOC = J23 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[19]"	LOC = J21 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[20]" 	LOC = G22 | IOSTANDARD=LVDS_25;	 #*
NET "ADCA_DP[21]" 	LOC = J29 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[22]" 	LOC = H30 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[23]" 	LOC = G29 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[24]" LOC = E29 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[25]" LOC = D29 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[26]" LOC = B30 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[27]" LOC = F26 | IOSTANDARD=LVDS_25;
NET "ADCA_ORP[1]" 		LOC = E28 | IOSTANDARD=LVDS_25;

# ADC 1B Clock Constraint
NET "ADU_chi[1].adcb_user_clk" TNM_NET = ADC_CLK_DIV_1B;
TIMESPEC TS_ADC_CLK_DIV_1B_I = PERIOD "ADC_CLK_DIV_1B" 125 MHz HIGH 50%;
###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG1B" = FROM "clk200" TO "ADC_CLK_DIV_1B" TIG; 
NET "ADCB_DCLKP[1]" 	LOC = D27 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[14]" 	LOC = C29 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[15]" 	LOC = C24 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[16]" 	LOC = G23 | IOSTANDARD=LVDS_25;	 #*
NET "ADCB_DP[17]" 	LOC = L21 | IOSTANDARD=LVDS_25;	 #*
NET "ADCB_DP[18]" 	LOC = B28 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[19]"	LOC = B27 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[20]" 	LOC = K19 | IOSTANDARD=LVDS_25;  #*
NET "ADCB_DP[21]" 	LOC = K18 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[22]" 	LOC = M20 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[23]" 	LOC = E19 | IOSTANDARD=LVDS_25;  #*
NET "ADCB_DP[24]" LOC = J19 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[25]" LOC = G18 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[26]" LOC = D16 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[27]" LOC = J16 | IOSTANDARD=LVDS_25;  #*
NET "ADCB_ORP[1]" 		LOC = F20 | IOSTANDARD=LVDS_25;

# ADC 2A Clock Constraint
NET "ADU_chi[2].adca_user_clk" TNM_NET = ADC_CLK_DIV_2A;
TIMESPEC TS_ADC_CLK_DIV_2A_I = PERIOD "ADC_CLK_DIV_2A" 125 MHz HIGH 50%;
###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG2A" = FROM "clk200" TO "ADC_CLK_DIV_2A" TIG; 
NET "ADCA_DCLKP[2]" 	LOC = U27 | IOSTANDARD=LVDS_25;  #*
NET "ADCA_DP[28]" 	LOC = V25 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[29]" 	LOC = V19	| IOSTANDARD=LVDS_25;
NET "ADCA_DP[30]" 	LOC = V26 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[31]" 	LOC = T25 | IOSTANDARD=LVDS_25;  #*
NET "ADCA_DP[32]" 	LOC = N25 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[33]"	LOC = M24 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[34]" 	LOC = N21 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[35]" 	LOC = M22 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[36]" 	LOC = H26 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[37]" 	LOC = H24 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[38]" LOC = L22 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[39]" LOC = V29 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[40]" LOC = U29 | IOSTANDARD=LVDS_25;
NET "ADCA_DP[41]" LOC = R30 | IOSTANDARD=LVDS_25;
NET "ADCA_ORP[2]" 		LOC = T26 | IOSTANDARD=LVDS_25;  #*

# ADC 2B Clock Constraint
NET "ADU_chi[2].adcb_user_clk" TNM_NET = ADC_CLK_DIV_2B;
TIMESPEC TS_ADC_CLK_DIV_2B_I = PERIOD "ADC_CLK_DIV_2B" 125 MHz HIGH 50%;
###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG2B" = FROM "clk200" TO "ADC_CLK_DIV_2B" TIG; 
NET "ADCB_DCLKP[2]" 	LOC = M28 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[28]" 	LOC = P29 | IOSTANDARD=LVDS_25;  #*
NET "ADCB_DP[29]" 	LOC = P26 | IOSTANDARD=LVDS_25;  #*
NET "ADCB_DP[30]" 	LOC = P27 | IOSTANDARD=LVDS_25;  #*
NET "ADCB_DP[31]" 	LOC = N27 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[32]" 	LOC = T20 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[33]"	LOC = T22 | IOSTANDARD=LVDS_25;  #*
NET "ADCB_DP[34]" 	LOC = P21 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[35]" 	LOC = P23 | IOSTANDARD=LVDS_25;  #*
NET "ADCB_DP[36]" 	LOC = N19 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[37]" 	LOC = H20 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[38]" LOC = N29 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[39]" LOC = M29 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[40]" LOC = K26 | IOSTANDARD=LVDS_25;
NET "ADCB_DP[41]" LOC = L30 | IOSTANDARD=LVDS_25;
NET "ADCB_ORP[2]" 		LOC = K28 | IOSTANDARD=LVDS_25;

##################################
# SFP
NET "SFP_TXP" LOC = Y2; 
NET "SFP_TXN" LOC = Y1; 
NET "SFP_RXP" LOC = AA4; 
NET "SFP_RXN" LOC = AA3; 

#NET "ADCA_DCLKP<0>" CLOCK_DEDICATED_ROUTE = BACKBONE;
#PIN "ADU_chi[0].adu/adca_top_i/ddr_8to1_16chan_rx_proc[0].chan_rx/MMCME2_BASE_inst.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;
#NET "ADCA_DCLKP<1>" CLOCK_DEDICATED_ROUTE = BACKBONE;
#PIN "ADU_chi[1].adu/adca_top_i/ddr_8to1_16chan_rx_proc[0].chan_rx/MMCME2_BASE_inst.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;
#NET "ADCB_DCLKP<1>" CLOCK_DEDICATED_ROUTE = BACKBONE;
#PIN "ADU_chi[1].adu/adcb_top_i/ddr_8to1_16chan_rx_proc[0].chan_rx/MMCME2_BASE_inst.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;
#NET "ADCA_DCLKP<2>" CLOCK_DEDICATED_ROUTE = BACKBONE;
#PIN "ADU_chi[2].adu/adca_top_i/ddr_8to1_16chan_rx_proc[0].chan_rx/MMCME2_BASE_inst.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;
NET "ADCB_DCLKP<2>" CLOCK_DEDICATED_ROUTE = BACKBONE;
PIN "ADU_chi[2].adu/adcb_top_i/ddr_8to1_16chan_rx_proc[0].chan_rx/MMCME2_BASE_inst.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;
NET "INIT_CLK_IN" CLOCK_DEDICATED_ROUTE = BACKBONE;
PIN "clkin_gen_i/mmcm_adv_inst.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;

Inst "ADU_chi[0].adu/adca_top_i/ddr_8to1_16chan_rx_proc[0].chan_rx/rx_clk_bufmrce" LOC = BUFMRCE_X0Y11;
#Net "ADU_chi[0].adu/adcb_top_i/ddr_8to1_16chan_rx_proc[0].chan_rx/rx_clk_bufmrce" LOC = CLOCKREGION_X0Y6;

#Net "ADU_chi[1].adu/adca_top_i/ddr_8to1_16chan_rx_proc[0].chan_rx/rx_clk_bufmrce" LOC = CLOCKREGION_X0Y4;

#Net "ADU_chi[2].adu/adca_top_i/ddr_8to1_16chan_rx_proc[0].chan_rx/rx_clk_bufmrce" LOC = CLOCKREGION_X0Y3;